<html>
  <head>
</head>
  <body>
<link href="styles/style.css" rel="stylesheet">
<form enctype="multipart/form-data" method="post" action="">
   <fieldset>
    <legend>Выберите изображение</legend><br> 
   <input type="file" name="photo" required><br><br>
   <input type="submit" name="submit" value="Загрузить"><br><p>
   </fieldset>
</form>
</body>
</html>