body{
    font-family: Arial;
    max-width: 700px;
	margin: 0 auto;
	padding: 10px;
}

fieldset{
	max-width: 300px;
	margin: 25px auto;
	padding: 0 25px;
	border-radius: 5px;
	//border: 1px solid #b8b8b8;
}

input{
	width: 100%;
	font-family: Arial;
}

img{
	margin: 5px 13px;
	border: 3px solid transparent;
}

img:hover{
	border: 3px solid #b8b8b8;
}

